<div class="login  shadow-md bg-gray-700 ">
  <!-- Componentes completos -->
  <h1 class="text-white text-3xl text-center font-bold" style="padding-top: 5%;"> Search Tweet </h1>
  <br><br>
<div *ngIf="processedData.length != 0"  class="bg-white rounded-lg w-[20vw] text-blue-900 px-2 text-sm ml-5 my-1">
  Tiempo de ejecución: {{processedData.tiempo_ejecucion | number:'1.2-2'}}
</div>

  <div class="row m-0" >
    <div class="col-8 ">
      <div class="bg-white rounded-lg">
        <table *ngIf="processedData.length != 0" class="table p-0 m-0 h-40">
          <thead>
            <tr class="border-hidden m-0 p-0" style="background-color:#49D8AC84;">
              <th class="col-3 leading-4 p-0"> <span class=" text-white text-lg font-bold ">ID</span></th>
              <th class="col-9 leading-4 p-0"> <span class=" text-white text-lg font-bold ">Comentario</span></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of processedData.respuesta" class="border">

              <td class="col-3 border">
                <div class="h-full  font-semibold text-sm text-blue-900 text-lg global-center">
                  {{item[0].length == 19 ? item[0] : item[1]  }}</div>
              </td>
              <td class="col-9">
                <div class="h-full  font-semibold text-blue-900 text-xs ">{{item[1].length == 19 ? item[0] : item[1]  }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="col-4 ">
      <div class="bg-white p-10 m-10 my-0  rounded-lg">
        <div *ngIf="search_in == 'local'" (click)="cargar_LOCAL()"
          class="global-end text-sm  text-blue-900 cursor-pointer">
          Cargar datos
          <svg class="h-5 w-5 text-blue-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
          </svg>
        </div>
        <div *ngIf="search_in == 'web'" (click)="cargarDatosf()"
          class="global-end text-sm  text-blue-900 cursor-pointer">
          Cargar datos
          <svg class="h-5 w-5 text-blue-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
          </svg>
        </div>
        <div *ngIf="cargarDatos" class="flex items-center justify-center w-full ">
          <label for="dropzone-file"
            class="flex flex-col items-center justify-center w-full h-40 border-2 border-gray-300 border-dashed  cursor-pointer bg-white dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
              <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12">
                </path>
              </svg>
              <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">SUBIR
                  DOCUMENTOS</span> </p>
              <p class="text-xs text-center text-gray-500 dark:text-gray-400">Archivo en JSON.</p>
            </div>
            <input id="dropzone-file" type="file" class="hidden" (change)="onFileSelected($event)" />
          </label>
        </div>
        <div *ngIf="cargarDatos" class="global-center py-4">
          <span class="text-sm text-center text-blue-900">{{jsonDataList.length}} Archivos Cargados</span>
        </div>
        <button *ngIf="cargarDatos" (click)="cargar_web()" class="w-full h-[3em] bg-teal-400 text-white cursor-pointer font-bold ">
          Cargar Archivos
        </button>

         
        <div *ngIf="!cargarDatos">

          <div class="global-center py-1  md:py-2">
            <div class="field ">
              <label [class]="inputNormalLabel">Palabra </label>
              <!-- class="py-1 w-[70vw] md:w-[20vw] text-center" -->
              <input [(ngModel)]="palabra" type="username" autocomplete="off" aria-describedby="username1-help"
                [class]="inputNormalIn" pInputText />
            </div>
          </div>
          <div class="global-center py-1 md:py-2">
            <div class="field ">
              <label [class]="inputNormalLabel">Cantidad </label>
              <!-- class="py-1 w-[70vw] md:w-[20vw] text-center" -->
              <input [(ngModel)]="cantidad" type="username" autocomplete="off" aria-describedby="username1-help"
                [class]="inputNormalIn" pInputText />
            </div>
          </div>


          <p *ngIf="search_in == 'local'" class="text-xs text-right cursor-pointer py-3" (click)="buscar_en('web')">
            Buscar en Web</p>
          <p *ngIf="search_in == 'web'" class="text-xs text-right cursor-pointer py-3" (click)="buscar_en('local')">
            Buscar en Local</p>
          <div *ngIf="search_in == 'local'" class="global-center">
            <button (click)="search()" class="w-full h-[3em] bg-teal-400 text-white cursor-pointer font-bold ">
              Buscar
            </button>
          </div>
          <div *ngIf="search_in == 'web'" class="global-center">
            <button (click)="search_web()" class="w-full h-[3em] bg-teal-400 text-white cursor-pointer font-bold ">
              Buscar
            </button>
          </div>
          <!--    <div class="global-center">
                  <button (click)="goToRegister()"
                      class="w-full h-[3em] bg-white text-teal-400 cursor-pointer font-bold ">
                      REGISTRO</button>
              </div> -->
        </div>
      </div>
    </div>
  </div>

  <h1 *ngIf="processedData.length < 8" class="absolute left-0 bottom-0 p-5 text-white text-4xl font-semibold" style="line-height: .9em!important;">
    BUSCADOR DE PALABRA
    <p class="text-lg" style="color: white;font-weight:100!important;opacity:0.7">wanly13 0.0.0</p>
  </h1>
  <!-- <h1 class=" lg:hidden p-5 my-10 text-white text-4xl font-semibold" style="line-height: .9em!important;">
      PORTAL ALUMNO
      <p class="text-lg" style="color: white;font-weight:100!important;opacity:0.7">Royal Systems v4.0.9</p>
  </h1> -->
</div>

<div *ngIf="isLoading">
  <div class="z-1 fixed top-0 left-0 w-full h-full " style="background-color: rgba(0, 0, 0, 0.1);"></div>
  <!-- Loading cargando -->
  <div role="status" class="absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2">
    <div class="flex item-center justify-center">
      <svg aria-hidden="true" class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
        viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor" />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill" />
      </svg>
    </div>
    <span class="text-center font-normal text-white">{{sms_loading}}</span>
  </div>
</div>