.login {
    background-image: url("../assets/images/fondHome.png");
    background-size: cover;
    background-position: start;
    background-repeat: no-repeat;

    min-height: 100vh;
    min-width: 100vw;
}

.table {
    padding: 0;
    text-align: center;

    thead {

        th {
            color: #F6F7F9;

            span {
                color: #9192AE;
                font-size: 1em;


            }
        }

    }

    tbody {
        tr {
            border-top: 0px solid #dee2e6;

            td {
                border-bottom: 0px solid #dee2e6;
                border-top: 0px solid #dee2e6;

                margin: 0;
                padding-left: 0;
                padding-right: 0;

            }

            .drop {

                .row {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    div {

                        svg {
                            color: #66BFBF !important;
                        }

                        p {
                            color: gray !important;
                            margin: 0;
                            font-size: .7em;
                        }
                    }
                }
            }

        }
    }

}